*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

}
body{
  background-image: url("./img/bg.jpg");
	font-family: arial;
	font-size: 16px;
	
    margin: 0;
    padding: 0;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
	display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}

.voice_to_text{
  width: 600px;
  text-align: center;
}
h1{
	color: #fff;
	font-size: 50px;
}
#convert_text{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  resize: none;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}


@media print {
    body {
      visibility: hidden;
    }
    button{
      visibility: hidden;
    }
    #print {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
#print{
  width: 100%;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc; 
  border-style: groove;
  background-color: #fff;
  
 
  
  
}


li{
  list-style-type: none;
  font-family: arial,italic;
}
  .button-19 {
  appearance: button;
  background-color: #333a73c3;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 25/9%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #333A73;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(5);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}
img{
  border-radius: 50%;
}
.container {
  position: relative; 
  width: 30px; 
  height: 20%; 
  
  
  padding-bottom: 20px;
}
p{
  font-family: Brush Script MT;
  padding: 20px;
  margin-left: 190px;
  font-size: xx-large;
}
.image {
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100px; 
  height: 100px;
  margin-bottom: 20px; }
  /* ul{
    margin-top: 10%;

  } */
  .button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 9px 5px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .button-24:active {
    opacity: .5;
  }
  .btn{
    size: 20%;
    
      
      top: 10px; /* adjust this value as needed */
      left: 10px; /* adjust this value as needed */
      padding: 10px 20px; /* adjust padding as needed */
      background-color: #007bff; /* button background color */
      color: white; /* button text color */
      border: none;
      border-radius: 5px; 
      cursor: pointer;
    }
    @media screen and (max-width: 480px) {
      h1 {
          font-size: 40px;
      }
      p {
          margin-left: 30%; /* Adjusted margin for smaller screens */
          font-size: 16px; /* Adjusted font size for smaller screens */
      }
  }
  @media screen and (max-width: 768px) {
    .voice_to_text {
        width: 100%;
    }
    p {
        font-size: 20px;
    }}